In [1]:
import msprime

In [2]:
ts = msprime.sim_ancestry(3, sequence_length=100, random_seed=42)

In [3]:
ts = msprime.sim_mutations(ts, rate=0.1, random_seed=234)

In [4]:
ts

In [5]:
import phenotype as phenotype

In [6]:
pheno_df, gene_df = phenotype.phenotype_sim(ts, 1)

In [7]:
pheno_df

   Individual ID  Phenotype  Environment  Genetic Value
0              0  -1.656632    -1.656632       0.000000
1              1   1.108502     1.774421      -0.665919
2              2  -0.377649     0.954189      -1.331838

In [8]:
gene_df

   Site ID Ancestral State Causal State  Location  Effect Size  Frequency
0       19               C            T      72.0    -0.665919        0.5

In [ ]:
a = [1,2,3]
a[[1,0,2]]

In [ ]:
import numpy as np
a = np.array([])

In [ ]:
np.append(np.append(a, 'a'), 1)